<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.DESKTOP-KTUJ9AF\SQLEXPRESS;Initial Catalog=Hospital;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Project.Properties.Settings.HospitalRBConnectionString" connectionString="Data Source=DESKTOP-KTUJ9AF\SQLEXPRESS;Initial Catalog=HospitalRB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="HospitalRBEntities" connectionString="metadata=res://*/AdvWorkModel.csdl|res://*/AdvWorkModel.ssdl|res://*/AdvWorkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KTUJ9AF\SQLEXPRESS;initial catalog=HospitalRB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>